@model Episerver9.Models.Pages.StartPage
@{
    Layout = "~/Views/Shared/_root.cshtml";
}

<div class="row">
    <div class="jumbotron" style="width:100%">
        <div class="container">
            <h1>@Html.PropertyFor(x=> x.Heading)</h1>
            <p>@Html.PropertyFor(x=>x.MainBody)</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
            <p>test</p>
        </div>
    </div>
</div>
